<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="signupForm">
        <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input formControlName="firstName" type="firstName" placeholder="Your Name" [class.invalid]="!signupForm.controls['firstName'].valid && signupForm.controls['firstName'].touched"> </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!signupForm.controls['firstName'].valid && signupForm.controls['firstName'].touched">
            <ion-label>Please Enter Your Name.</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Last Name</ion-label>
                <ion-input formControlName="lastName" type="lastName" placeholder="Your Last Name" [class.invalid]="!signupForm.controls['lastName'].valid && signupForm.controls['lastName'].touched"> </ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!signupForm.controls['lastName'].valid && signupForm.controls['lastName'].touched">
                <ion-label>Please Enter Your Last Name.</ion-label>
            </ion-item>

            
            <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"> </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
            <ion-label>Please enter a valid email.</ion-label>
            </ion-item>

            <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"> </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
            <ion-label>Your password needs more than 6 characters.</ion-label>
            </ion-item>


            <ion-item>
              <ion-label position="stacked">PhoneNum</ion-label>
              <ion-input formControlName="phoneNum" type="number" placeholder="Your password" [class.invalid]="!signupForm.controls['phoneNum'].valid && signupForm.controls['phoneNum'].touched"> </ion-input>
              </ion-item>
              <ion-item class="error-message" *ngIf="!signupForm.controls['phoneNum'].valid && signupForm.controls['phoneNum'].touched">
              <ion-label>Your password needs more than 6 characters.</ion-label>
              </ion-item>


            <ion-button expand="block" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
            Create an Account
            </ion-button>
            </form>
            </ion-content>

